## Java
.mtj.tmp/
*.class
*.jar
## NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
## OS X
.DS_Store
/JavaApplication6/nbproject/private/
/Final_Project/nbproject/private/
/MealShare/nbproject/private/
