## Java
.mtj.tmp/
*.class
*.jar
## NetBeans
MealShare/nbproject/private/
MealShare/build/
MealShare/nbbuild/
MealShare/dist/
MealShare/nbdist/
nbactions.xml
MealShare/nb-configuration.xml
## OS X
.DS_Store
